
.textarea {
  margin-top: 5rem;
  width: 45vw;
  height: 40vh;
  background-color: lightgray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.wasm-container {

}
